<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143157326142-vlf4j41djkbmg0hq3v80sr09m99hrj7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143157326142-vlf4j41djkbmg0hq3v80sr09m99hrj7l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>143157326142-6465ca2nmui3h5kiidbatqd9uprlae87.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAG1o07Ss0dZ8I3pZ5o6iHtjQ_QYuw6U34</string>
	<key>GCM_SENDER_ID</key>
	<string>143157326142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weChatApp</string>
	<key>PROJECT_ID</key>
	<string>we-chat-5cce8</string>
	<key>STORAGE_BUCKET</key>
	<string>we-chat-5cce8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143157326142:ios:028d8823273de72a03bc6f</string>
</dict>
</plist>